@media screen and (max-width: 550px) {
  ::-webkit-input-placeholder::before {
    font-family: fontAwesome;
    content: '\f002';
    color: #cbcbcb;
    font-size: 16px;
    font-weight: 100; }

  ::-moz-placeholder::before {
    font-family: fontAwesome;
    content: '\f002';
    color: #cbcbcb;
    font-size: 16px;
    font-weight: 100; }

  /* firefox 19+ */
  :-ms-input-placeholder::before {
    font-family: fontAwesome;
    content: '\f002';
    color: #cbcbcb;
    font-size: 16px;
    font-weight: 100; }

  /* ie */
  input:-moz-placeholder::before {
    font-family: fontAwesome;
    content: '\f002';
    color: #cbcbcb;
    font-size: 16px;
    font-weight: 100; } }
body, html {
  overflow: hidden;
  height: 100%;
  width: 100%; }

body:before {
  margin: 0;
  content: "";
  position: absolute;
  background: url("../images/159H.jpg");
  background-size: cover;
  z-index: -1;
  height: 20%;
  width: 20%;
  -webkit-transform: scale(5);
      -ms-transform: scale(5);
          transform: scale(5);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transform: scale(5);
  -webkit-transform-origin: top left;
  -webkit-filter: blur(2px); }
  @media screen and (max-width: 550px) {
    body:before {
      background: white; } }

.overlay {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.all {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }
  .all .container {
    display: block;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 0; }
    @media screen and (max-width: 1000px) {
      .all .container {
        width: 100%; } }

.navbar {
  display: none;
  position: absolute;
  top: 2vh;
  left: 2vh;
  height: 25px;
  width: 25px;
  background-image: url("../images/menu.png");
  background-size: contain; }
  @media screen and (max-width: 1000px) {
    .navbar {
      display: block; } }

.contacts {
  width: 22%;
  height: 100%;
  display: inline-block;
  float: left;
  background: rgba(221, 221, 221, 0.5);
  text-align: center; }
  .contacts #searchbar {
    width: 100%; }
    @media screen and (max-width: 550px) {
      .contacts #searchbar {
        display: none; } }
    .contacts #searchbar input {
      color: #000;
      text-align: center;
      background: rgba(221, 221, 221, 0);
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1px;
      border: solid 4px rgba(221, 221, 221, 0);
      width: 100%; }
      .contacts #searchbar input:focus {
        outline: 0; }
  .contacts ul {
    list-style-type: none;
    padding: 0; }
    .contacts ul li > span.name {
      cursor: pointer; }
  .contacts .users {
    height: calc(100% - 130px); }
    .contacts .users .online .ontext {
      color: green;
      font-size: 18px; }
    .contacts .users .online li span.status {
      display: inline-block;
      width: 7px;
      height: 7px;
      margin-right: 5px;
      margin-bottom: 2px;
      background-color: green;
      border-radius: 50%; }
    .contacts .users .online li.newMessage span.status {
      animation: blink 2s infinite;
      -webkit-animation: blink 2s infinite; }
    .contacts .users .online li.newMessage span.name {
      font-weight: bold;
      font-size: 18px; }
    .contacts .users .offline .offtext {
      font-size: 18px; }
    .contacts .users .offline li span.status {
      display: inline-block;
      width: 7px;
      height: 7px;
      margin-right: 5px;
      margin-bottom: 2px;
      background-color: #666666;
      border-radius: 50%; }
    .contacts .users .offline li.newMessage span.status {
      animation: blinkOffline 2s infinite;
      -webkit-animation: blinkOffline 2s infinite; }
    .contacts .users .offline li.newMessage span.name {
      font-weight: bold;
      font-size: 18px; }
  .contacts .fandt {
    height: 100px;
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    font-size: 18px; }
    @media screen and (max-width: 550px) {
      .contacts .fandt {
        display: none; } }
    .contacts .fandt span {
      display: inline-block;
      margin-top: 7px; }

.chat {
  background: rgba(221, 221, 221, 0.5);
  display: inline-block;
  height: 100%;
  width: 58%;
  position: relative; }
  @media screen and (max-width: 1000px) {
    .chat {
      width: 78%; } }
  .chat .messages {
    position: absolute;
    height: calc(100% - 100px);
    width: 100%;
    overflow-y: hidden;
    top: 0px;
    bottom: 26px;
    clear: both;
    overflow-x: hidden; }
    .chat .messages .logo {
      width: 100%;
      height: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background-image: url("../images/EdgeLogoText.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
      -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
              transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
      .chat .messages .logo:hover {
        opacity: 0.25;
        -webkit-transition: all 0.1 cubic-bezier(0.25, 0.46, 0.45, 0.94);
                transition: all 0.1 cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    @media screen and (max-width: 1000px) {
      .chat .messages {
        overflow-y: scroll; } }
    .chat .messages .message {
      display: block;
      overflow: auto; }
      .chat .messages .message img {
        border-radius: 2vh;
        padding: 5px;
        max-height: 400px;
        max-width: 400px; }
      .chat .messages .message .you {
        display: block;
        left: 5px;
        text-align: left;
        background: rgba(51, 51, 51, 0.3);
        border-radius: 2vh;
        padding: 10px 3px;
        max-width: 75%;
        margin-bottom: 10px;
        float: left;
        word-wrap: break-word; }
      .chat .messages .message .me {
        display: block;
        right: 5px;
        text-align: left;
        float: right;
        background: rgba(51, 51, 51, 0.3);
        border-radius: 2vh;
        max-width: 75%;
        padding: 10px 3px;
        margin-bottom: 10px;
        word-wrap: break-word; }
  .chat .input {
    position: absolute;
    bottom: -5px;
    left: 0px;
    right: 0px;
    vertical-align: bottom; }
    .chat .input #input {
      width: 99%;
      height: 100px;
      resize: none;
      font-size: 20px;
      opacity: 0.3; }
      .chat .input #input:focus {
        opacity: 0.7;
        outline: 0; }

.tmp {
  position: relative;
  width: 20%;
  float: right;
  height: 100%;
  display: block;
  background: rgba(221, 221, 221, 0.5);
  overflow-y: hidden; }
  @media screen and (max-width: 1000px) {
    .tmp {
      display: none; } }
  .tmp .images {
    width: 100%; }
    .tmp .images .image {
      width: 95%;
      margin: 10px auto 0px auto; }
  .tmp .drop {
    width: 90%;
    height: 80%;
    margin: auto;
    border: 2px dashed #777;
    color: #777;
    line-height: 300px;
    text-align: center;
    -webkit-transform: translateY(10%);
        -ms-transform: translateY(10%);
            transform: translateY(10%); }
  .tmp .loader:before,
  .tmp .loader:after,
  .tmp .loader {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out; }
  .tmp .loader {
    margin: 0 auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }
  .tmp .loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .tmp .loader:after {
    left: 3.5em; }
  .tmp .loader:before,
  .tmp .loader:after {
    content: "";
    position: absolute;
    top: 0; }
  .tmp .progress.progressing {
    display: block; }
  .tmp .drop.over {
    border-color: #000;
    color: #000; }

.null {
  display: none; }

.navbar {
  display: none; }

.input-mobile {
  display: none; }

@media screen and (max-width: 550px) {
  .all {
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden; }
    .all .container {
      height: 100vh;
      width: 200vw;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
      .all .container::after {
        clear: both;
        content: "";
        display: table; }
      .all .container.second {
        margin-left: -100vw; }
      .all .container .page {
        height: 100vh;
        width: 100vw;
        float: left;
        position: relative; }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background: #0074D9;
    height: 40px;
    display: block; }

  .contacts .navbar .search {
    height: 30px;
    width: 75%;
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    color: #cbcbcb;
    font-size: 18.4px;
    font-weight: 100;
    border: 0;
    text-align: center; }
    .contacts .navbar .search input {
      width: 100px;
      height: 30px;
      box-sizing: border-box;
      line-height: 30px;
      border-radius: 15px;
      border: 0;
      text-align: center;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
              transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
      .contacts .navbar .search input:focus {
        outline: 0;
        text-align: left;
        width: calc(100% - 30px); }
  .contacts .users {
    height: calc(100% - 40px);
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0; }
    .contacts .users .contact {
      display: block;
      height: 75px;
      width: 100%;
      position: relative; }
      .contacts .users .contact .info {
        height: 40px;
        position: absolute;
        top: 50%;
        left: 5px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        .contacts .users .contact .info span.status {
          display: inline-block;
          height: 25px;
          width: 25px;
          border-radius: 50%;
          background-color: black; }
        .contacts .users .contact .info span.name {
          display: inline-block;
          font-size: 32.2px;
          margin-left: 5px;
          line-height: 40px; }
      .contacts .users .contact .arrow {
        position: absolute;
        top: 22px;
        right: 10px;
        height: 30px;
        width: 12px;
        background: url(http://imgh.us/arrow_3.svg); }
      .contacts .users .contact hr {
        position: absolute;
        bottom: 0;
        left: 12.5px;
        display: inline-block;
        width: 335px;
        margin: 0;
        border: 0;
        border-bottom: 1px solid #cbcbcb; }

  .chat.page .navbar {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 40px;
    background: rgba(0, 116, 217, 0.85); }
    .chat.page .navbar .contacts {
      position: absolute;
      top: 5px;
      left: 15px;
      height: 30px;
      width: 35px;
      display: inline-block;
      background-image: url(../svgs/contacts.svg);
      background-size: cover; }
    .chat.page .navbar .contact {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      text-align: center; }
      .chat.page .navbar .contact span.status {
        display: inline-block;
        height: 15px;
        width: 15px;
        margin-right: 5px;
        background-color: green;
        border-radius: 50%; }
      .chat.page .navbar .contact span.name {
        line-height: 40px;
        font-size: 25px;
        color: white;
        letter-spacing: 1px; }
    .chat.page .navbar .upload {
      position: absolute;
      top: 5px;
      right: 10px;
      height: 30px;
      width: 25px;
      display: inline-block;
      background-image: url(../svgs/upload.svg);
      background-size: cover; }
    .chat.page .navbar form {
      display: none; }
  .chat.page .messages {
    position: absolute;
    top: 40px;
    width: 100%;
    height: calc(100% - 80px);
    display: block;
    overflow: auto; }
    .chat.page .messages .message-mobile {
      min-height: 85px;
      width: 100%;
      position: relative; }
      .chat.page .messages .message-mobile .me {
        display: block;
        right: 25px;
        text-align: left;
        float: right;
        background: #cbcbcb;
        border-radius: 25px;
        width: 75%;
        padding: 10px 3px;
        margin-bottom: 10px;
        word-wrap: break-word;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        min-height: 50px;
        padding: 10px; }
        .chat.page .messages .message-mobile .me:before {
          width: 50px;
          height: 30px;
          background: #cbcbcb;
          display: block;
          position: absolute;
          top: 0;
          right: -15px;
          -webkit-clip-path: polygon(100% 0, 70% 100%, 0 0);
                  clip-path: polygon(100% 0, 70% 100%, 0 0);
          color: #cbcbcb;
          content: ".";
          z-index: -1; }
      .chat.page .messages .message-mobile .you {
        display: block;
        left: 25px;
        text-align: left;
        background: #cbcbcb;
        border-radius: 25px;
        padding: 10px 3px;
        width: 75%;
        margin-bottom: 10px;
        float: left;
        word-wrap: break-word;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        min-height: 50px;
        padding: 10px; }
        .chat.page .messages .message-mobile .you:before {
          width: 50px;
          height: 30px;
          background: #cbcbcb;
          display: block;
          position: absolute;
          top: 0;
          left: -15px;
          -webkit-clip-path: polygon(0 0, 100% 0, 30% 100%);
                  clip-path: polygon(0 0, 100% 0, 30% 100%);
          color: #cbcbcb;
          content: ".";
          z-index: -1; }
  .chat.page textarea {
    display: none; }
  .chat.page .input-mobile {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 40px;
    background: #E0E0E0; }
    .chat.page .input-mobile .text-input {
      position: absolute;
      top: 5px;
      right: 30px;
      bottom: 5px;
      left: 10px;
      background: white;
      border-radius: 15px; }
      .chat.page .input-mobile .text-input input {
        height: 100%;
        width: calc(100% - 30px);
        box-sizing: border-box;
        text-align: left;
        border-radius: 15px;
        border: 0; }
        .chat.page .input-mobile .text-input input:focus {
          outline: 0; }
    .chat.page .input-mobile .send {
      height: 20px;
      width: 20px;
      position: absolute;
      top: 10px;
      right: 5px;
      bottom: 10px;
      background-image: url(../svgs/send.svg);
      background-size: cover; } }
@keyframes blink {
  0% {
    background-color: green; }
  50% {
    background-color: red; }
  100% {
    background-color: green; } }
@-webkit-keyframes blink {
  0% {
    background-color: green; }
  50% {
    background-color: red; }
  100% {
    background-color: green; } }
@keyframes blinkOffline {
  0% {
    background-color: #666; }
  50% {
    background-color: red; }
  100% {
    background-color: #666; } }
@-webkit-keyframes blinkOffline {
  0% {
    background-color: #666; }
  50% {
    background-color: red; }
  100% {
    background-color: #666; } }
@-webkit-keyframes load7 {
  0%,
80%,
100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff; }
  40% {
    box-shadow: 0 2.5em 0 0 #FFF; } }
@keyframes load7 {
  0%,
80%,
100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff; }
  40% {
    box-shadow: 0 2.5em 0 0 #FFF; } }
